/*!
 * o2 CSS.
 */

/**
 * Meta boxes.
 */
.o2-meta-box-field {
  margin-top: 10px;
  margin-bottom: 10px;
}
.o2-meta-box-label,
.o2-meta-box-input {
  display: block;
}
.o2-meta-box-label {
  margin-bottom: 5px;
  font-weight: bold;
}
.o2-meta-box-input {
  width: 99%;
}
