/*!
 * Theme Name: Avtozap
 * Theme URI:
 * Author: Serge Noskov
 * Author URI: http://noskov.biz/
 * Description: WP theme for http://avtozap.kiev.ua/
 * Version: 1.2.5
 * Text Domain: avtozap
 * Tags:
 */

/**
 * normalize.css v3.0.2.
 */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  margin: .67em 0;
  font-size: 2em;
}
mark {
  color: #000;
  background: #ff0;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -.5em;
}
sub {
  bottom: -.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  height: 0;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}
legend {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}

/**
 * Print.
 */
@media print {
  *,
  *:before,
  *:after {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;

    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  select {
    background: #fff !important;
  }
}


.clear:before,
.entry-content:before,
.comment-content:before,
.site-header:before,
.site-content:before,
.site-footer:before, .gallery:before, .clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after, .gallery:after {
  content: "";
  display: table; }
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after, .gallery:after {
  clear: both; }


/**
 * Global styles
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #FCFCFC; }

/**
 * Header
 */
.site-header {
  background-color: #2c2d33;
  padding-top: 2.618em;
  color: #5a6567;
  background-position: center center;
  position: relative;
  z-index: 999; }
  .site-header .site-logo-anchor {
    display: block; }
    .site-header .site-logo-anchor img {
      max-height: 2.618em;
      width: auto; }
  .site-header .site-branding,
  .site-header .site-logo-anchor {
    margin-bottom: 1.618em; }
  .site-header .widget {
    margin-bottom: 0; }

.header-widget-region {
  position: relative;
  z-index: 99; }

.site-branding h1 {
  font-size: 1.618em;
  letter-spacing: -1px;
  margin: 0; }
  .site-branding h1 a {
    font-weight: 700; }
.site-branding .site-description {
  font-size: .857em;
  display: none; }

/**
 * Main content area
 */
.site-main {
  margin-bottom: 2.618em; }

/**
 * Footer
 */
.site-footer {
  background-color: #f3f3f3;
  color: #abb1ba;
  padding: 1.618em 0; }
  .site-footer h1,
  .site-footer h2,
  .site-footer h3,
  .site-footer h4,
  .site-footer h5,
  .site-footer h6 {
    color: #9aa0a9; }
  .site-footer a:not(.button) {
    color: #a46497; }

.site-info {
  padding: 2.618em 0; }

/**
 * Alignment
 */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.618em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.618em; }

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto; }

/**
 * Accessibility
 */
.screen-reader-text {
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important; }

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */ }

/**
 * Clearing
 */
/**
 * Tables
 */
table {
  border-spacing: 0;
  width: 100%;
  border-collapse: separate; }
  table caption {
    padding: 1em 0;
    font-weight: 700; }
  table td,
  table th {
    padding: .857em 1.387em;
    text-align: left;
    vertical-align: top; }
    table td p:last-child,
    table th p:last-child {
      margin-bottom: 0; }
  table thead th {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    padding: 1.387em;
    vertical-align: middle; }
  table tbody tr:nth-child(2n) td {
    background: rgba(0, 0, 0, 0.015); }
    table tbody tr:nth-child(2n) td:last-child {
      border-right: 0; }
  table tbody td {
    background: rgba(0, 0, 0, 0.025); }
  table tbody h2 {
    font-size: 1em;
    letter-spacing: normal;
    font-weight: normal; }
    table tbody h2 a {
      font-weight: normal; }
  table tbody tr:last-child td {
    border-bottom: 0; }
  table tbody tr:last-child th:first-child {
    border-bottom: 0; }
  table tfoot th,
  table tfoot td {
    border-top: 1px dotted rgba(0, 0, 0, 0.1); }

/**
 * Typography.
 */
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  font-size: .938em; }

body,
button,
input,
select,
textarea {
  color: #787E87;
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.618;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", sans-serif;
  clear: both;
  font-weight: 700;
  margin: 0 0 .618em;
  color: #484c51; }

h1,
.alpha {
  font-size: 2.244em;
  letter-spacing: -1px;
  line-height: 1.214;
  font-weight: 300; }
  h1 a,
  .alpha a {
    font-weight: 300; }

h2,
.beta {
  font-size: 1.618em;
  letter-spacing: -1px; }

h3,
.gamma {
  font-size: 1.387em; }

h4,
.delta {
  font-size: 1em; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin: 0 0 1.618em; }

p {
  margin: 0 0 1.618em; }

ul,
ol {
  margin: 0 0 1.618em 3em;
  padding: 0; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.618em; }

dt {
  font-weight: 700; }

dd {
  margin: 0 0 1.618em; }

b,
strong {
  font-weight: 700; }

dfn,
cite,
em,
i {
  font-style: italic; }

blockquote {
  padding: 0 1.618em;
  border-left: 3px solid rgba(0, 0, 0, 0.05);
  font-style: italic; }

address {
  margin: 0 0 1.618em; }

pre {
  background: #fff9c0;
  font-family: "Courier 10 Pitch", Courier, monospace;
  margin-bottom: 1.618em;
  padding: 1.618em;
  overflow: auto;
  max-width: 100%; }

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  background-color: rgba(0, 0, 0, 0.05);
  padding: .202em .53em; }

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
  padding: .202em .53em; }

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  bottom: 1ex; }

sub {
  top: .5ex; }

small {
  font-size: 75%; }

big {
  font-size: 125%; }

figure {
  margin: 0; }

table {
  margin: 0 0 1.618em;
  width: 100%; }

th {
  font-weight: bold; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
  display: block; }

a {
  color: #a46497;
  text-decoration: none;
  font-weight: 700; }

/**
 * General Layout
 */
@media screen and (min-width: 768px) {
  .site-header .site-branding,
  .site-header .site-logo-anchor,
  .site-header .site-logo-link {
    display: block;
    width: 21.73913%;
    float: left;
    margin-right: 4.34783%;
    clear: both; }
    .site-header .site-branding img,
    .site-header .site-logo-anchor img,
    .site-header .site-logo-link img {
      height: auto;
      max-width: 100%;
      max-height: none; }

  .woocommerce-active .site-header .secondary-navigation {
    width: 47.82609%;
    float: left;
    margin-right: 4.34783%; }
  .woocommerce-active .site-header .site-search {
    width: 21.73913%;
    float: right;
    margin-right: 0;
    clear: none; }
  .woocommerce-active .site-header .main-navigation {
    width: 73.91304%;
    float: left;
    margin-right: 4.34783%;
    clear: both; }
  .woocommerce-active .site-header .site-header-cart {
    width: 21.73913%;
    float: right;
    margin-right: 0;
    margin-bottom: 0;
    padding-top: 1.618em; }

  .site-branding .site-description {
    margin-bottom: 0;
    display: block; }

  .site-branding,
  .site-search,
  .site-header-cart,
  .site-logo-anchor {
    margin-bottom: 1em; }

  .site-header .subscribe-and-connect-connect {
    float: right;
    margin-bottom: 1em; }
    .site-header .subscribe-and-connect-connect .icons {
      list-style: none;
      margin: 0; }
      .site-header .subscribe-and-connect-connect .icons a {
        font-size: 1em !important; }
      .site-header .subscribe-and-connect-connect .icons li {
        margin: 0 0 0 .53em !important;
        display: inline-block; }

  .col-full {
    max-width: 65.141em;
    margin-left: auto;
    margin-right: auto; }
    .col-full:after {
      content: "";
      display: table;
      clear: both; }
    .col-full:after {
      content: " ";
      display: block;
      clear: both; }

  .site-content:after {
    content: "";
    display: table;
    clear: both; }

  .content-area {
    width: 73.91304%;
    float: left;
    margin-right: 4.34783%; }

  .widget-area {
    width: 21.73913%;
    float: right;
    margin-right: 0; }

  .right-sidebar .content-area {
    width: 73.91304%;
    float: left;
    margin-right: 4.34783%; }
  .right-sidebar .widget-area {
    width: 21.73913%;
    float: right;
    margin-right: 0; }

  .left-sidebar .content-area {
    width: 73.91304%;
    float: right;
    margin-right: 0; }
  .left-sidebar .widget-area {
    width: 21.73913%;
    float: left;
    margin-right: 4.34783%; }

  .avtozap-full-width-content .content-area {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }

  .content-area,
  .widget-area {
    margin-bottom: 2.618em; }

  /**
   * Full width & homepage template
   */
  .page-template-template-fullwidth-php .content-area,
  .page-template-template-homepage-php .content-area {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }

  /**
   * Footer widgets
   */
  .footer-widgets {
    padding-top: 4.236em;
    border-bottom: 3px solid rgba(0, 0, 0, 0.05); }
    .footer-widgets:after {
      content: "";
      display: table;
      clear: both; }
    .footer-widgets.col-2 .block {
      width: 47.82609%;
      float: left;
      margin-right: 4.34783%; }
      .footer-widgets.col-2 .block.footer-widget-2 {
        float: right;
        margin-right: 0; }
    .footer-widgets.col-3 .block {
      width: 30.43478%;
      float: left;
      margin-right: 4.34783%; }
      .footer-widgets.col-3 .block.footer-widget-3 {
        float: right;
        margin-right: 0; }
    .footer-widgets.col-4 .block {
      width: 21.73913%;
      float: left;
      margin-right: 4.34783%; }
      .footer-widgets.col-4 .block.footer-widget-4 {
        float: right;
        margin-right: 0; } }
@media screen and (max-width: 65.141em) {
  .col-full {
    margin-left: 2.618em;
    margin-right: 2.618em; } }
@media screen and (max-width: 568px) {
  .col-full {
    margin-left: 1.387em;
    margin-right: 1.387em; } }
/**
 * Forms
 */
form {
  margin-bottom: 1.618em; }

button,
input,
select,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
  *vertical-align: middle;
  /* Improves appearance and consistency in all browsers */ }

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.added_to_cart {
  border: 0;
  background: none;
  background-color: #787E87;
  border-color: #787E87;
  color: #fff;
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  line-height: 1;
  padding: .618em 1em;
  text-decoration: none;
  font-weight: 700;
  text-shadow: none;
  display: inline-block;
  outline: none;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  border-radius: 0;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.1); }
  button.cta, button.alt,
  input[type="button"].cta,
  input[type="button"].alt,
  input[type="reset"].cta,
  input[type="reset"].alt,
  input[type="submit"].cta,
  input[type="submit"].alt,
  .button.cta,
  .button.alt,
  .added_to_cart.cta,
  .added_to_cart.alt {
    background-color: #a46497;
    border-color: #a46497; }
    button.cta:hover, button.alt:hover,
    input[type="button"].cta:hover,
    input[type="button"].alt:hover,
    input[type="reset"].cta:hover,
    input[type="reset"].alt:hover,
    input[type="submit"].cta:hover,
    input[type="submit"].alt:hover,
    .button.cta:hover,
    .button.alt:hover,
    .added_to_cart.cta:hover,
    .added_to_cart.alt:hover {
      opacity: 0.8;
      background-color: #a46497; }
  button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover,
  .button:hover,
  .added_to_cart:hover {
    opacity: 0.8;
    color: #fff; }
  button.added:after,
  input[type="button"].added:after,
  input[type="reset"].added:after,
  input[type="submit"].added:after,
  .button.added:after,
  .added_to_cart.added:after {
    content: "\f00c";
    font-family: "FontAwesome";
    margin-left: .53em; }
  button.loading,
  input[type="button"].loading,
  input[type="reset"].loading,
  input[type="submit"].loading,
  .button.loading,
  .added_to_cart.loading {
    opacity: 0.5; }
  button.small,
  input[type="button"].small,
  input[type="reset"].small,
  input[type="submit"].small,
  .button.small,
  .added_to_cart.small {
    padding: .53em .857em;
    font-size: .857em; }
  button.disabled,
  input[type="button"].disabled,
  input[type="reset"].disabled,
  input[type="submit"].disabled,
  .button.disabled,
  .added_to_cart.disabled {
    opacity: 0.5 !important; }
    button.disabled:hover,
    input[type="button"].disabled:hover,
    input[type="reset"].disabled:hover,
    input[type="submit"].disabled:hover,
    .button.disabled:hover,
    .added_to_cart.disabled:hover {
      opacity: 0.5 !important; }

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */ }

input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none; }

input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea,
.input-text {
  padding: .618em;
  background-color: #efefef;
  color: #787E87;
  line-height: 1;
  outline: none;
  border: 0;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.125); }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  background-color: #e3e3e3;
  color: #60656c; }

textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: .857em;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 100%; }

label {
  font-weight: 700; }

label.inline input {
  width: auto; }

fieldset {
  padding: 0;
  border: 0;
  margin-bottom: 1.618em; }
  fieldset legend {
    font-weight: 700; }

[placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.5s 0.5s ease;
  -moz-transition: opacity 0.5s 0.5s ease;
  transition: opacity 0.5s 0.5s ease;
  opacity: 0; }

/**
 * Main Naivgation
 */
/**
 * General Menu Styles
 */
.main-navigation {
  clear: both; }

.secondary-navigation {
  display: none; }

.menu-toggle {
  cursor: pointer;
  margin: 1.618em auto;
  display: block;
  width: 100%;
  text-align: left; }
  .menu-toggle:before {
    font-family: "FontAwesome";
    font-weight: 400;
    content: "\f0c9";
    margin-right: .53em; }

.menu-toggle,
.main-navigation.toggled .nav-menu {
  display: block; }

.main-navigation ul {
  display: none;
  margin-left: 0;
  list-style: none; }
  .main-navigation ul ul {
    display: block;
    margin-left: 1.387em; }
  .main-navigation ul li a {
    padding: .857em 1.387em;
    display: block; }
    .main-navigation ul li a:before {
      font-family: "FontAwesome";
      content: "\f0f6";
      margin-right: .53em;
      font-weight: 400; }
    .main-navigation ul li a:hover {
      color: #e6e6e6; }

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none; }

  .main-navigation,
  .secondary-navigation {
    clear: both;
    display: block;
    width: 100%; }
    .main-navigation ul,
    .secondary-navigation ul {
      list-style: none;
      margin: 0;
      padding-left: 0;
      display: block; }
      .main-navigation ul li,
      .secondary-navigation ul li {
        position: relative;
        display: inline-block;
        text-align: left; }
        .main-navigation ul li a,
        .secondary-navigation ul li a {
          display: block; }
          .main-navigation ul li a:before,
          .secondary-navigation ul li a:before {
            display: none; }
        .main-navigation ul li:hover > ul,
        .secondary-navigation ul li:hover > ul {
          display: block; }
      .main-navigation ul ul,
      .secondary-navigation ul ul {
        display: none;
        float: left;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 99999;
        background-color: #2c2d33; }
        .main-navigation ul ul li a,
        .secondary-navigation ul ul li a {
          width: 200px; }
        .main-navigation ul ul ul,
        .secondary-navigation ul ul ul {
          left: 100%;
          top: 0; }

  ul.menu li.current-menu-item > a {
    color: #787E87; }

  /**
   * Primary Navigation
   */
  .main-navigation {
    position: relative;
    padding-top: 1.618em; }
    .main-navigation ul.menu > li > a,
    .main-navigation ul.nav-menu > li > a {
      padding: 0 1em 2.244em; }
    .main-navigation ul.menu > li:first-child,
    .main-navigation ul.nav-menu > li:first-child {
      margin-left: -1em; }
    .main-navigation ul.menu > li.menu-item-has-children:hover:after, .main-navigation ul.menu > li.page_item_has_children:hover:after,
    .main-navigation ul.nav-menu > li.menu-item-has-children:hover:after,
    .main-navigation ul.nav-menu > li.page_item_has_children:hover:after {
      display: block; }
    .main-navigation ul.menu > li.menu-item-has-children > a:after, .main-navigation ul.menu > li.page_item_has_children > a:after,
    .main-navigation ul.nav-menu > li.menu-item-has-children > a:after,
    .main-navigation ul.nav-menu > li.page_item_has_children > a:after {
      content: "\f107";
      font-family: "FontAwesome";
      margin-left: 1em;
      line-height: 1; }
    .main-navigation ul.menu ul,
    .main-navigation ul.nav-menu ul {
      background-color: #2c2d33;
      margin-left: 0; }
      .main-navigation ul.menu ul li,
      .main-navigation ul.nav-menu ul li {
        background-color: rgba(0, 0, 0, 0.025); }
        .main-navigation ul.menu ul li a,
        .main-navigation ul.nav-menu ul li a {
          padding: .857em 1em; }
        .main-navigation ul.menu ul li:last-child,
        .main-navigation ul.nav-menu ul li:last-child {
          border-bottom: 0; }
        .main-navigation ul.menu ul li.menu-item-has-children > a:after, .main-navigation ul.menu ul li.page_item_has_children > a:after,
        .main-navigation ul.nav-menu ul li.menu-item-has-children > a:after,
        .main-navigation ul.nav-menu ul li.page_item_has_children > a:after {
          content: "\f105";
          font-family: "FontAwesome";
          float: right; }
      .main-navigation ul.menu ul ul,
      .main-navigation ul.nav-menu ul ul {
        margin-left: 0;
        border-top-color: rgba(0, 0, 0, 0.1);
        box-shadow: none; }
      .main-navigation ul.menu ul a:hover,
      .main-navigation ul.menu ul li:hover > a,
      .main-navigation ul.nav-menu ul a:hover,
      .main-navigation ul.nav-menu ul li:hover > a {
        background-color: rgba(0, 0, 0, 0.025); }
    .main-navigation a {
      padding: 0 1em 2.244em; }

  /**
   * Secondary Navigation
   */
  .secondary-navigation {
    margin: 0 0 1.618em;
    width: auto;
    clear: none;
    line-height: 1; }
    .secondary-navigation .menu {
      font-size: .857em;
      width: auto;
      float: right; }
      .secondary-navigation .menu > li:hover > a {
        text-decoration: none; }
      .secondary-navigation .menu > li > a {
        position: relative; }
        .secondary-navigation .menu > li > a:before {
          content: "";
          display: block;
          width: 1px;
          height: 25%;
          background-color: rgba(0, 0, 0, 0.05);
          position: absolute;
          top: 37.5%;
          left: 0; }
      .secondary-navigation .menu > li:first-child a:before {
        display: none; }
      .secondary-navigation .menu ul {
        background-color: #2c2d33; }
        .secondary-navigation .menu ul a {
          padding: .326em .857em;
          background: rgba(0, 0, 0, 0.05); }
        .secondary-navigation .menu ul li:first-child a {
          padding-top: 1em; }
        .secondary-navigation .menu ul li:last-child a {
          padding-bottom: 1em; }
        .secondary-navigation .menu ul ul {
          margin-top: -.618em; }
      .secondary-navigation .menu a {
        padding: 1.387em .857em;
        font-weight: 400;
        color: #aeb2b7; }
        .secondary-navigation .menu a:hover {
          text-decoration: none; } }
/**
 * Content
 */
.sticky .entry-title:before {
  font-family: "FontAwesome";
  font-weight: 400;
  margin-right: .53em;
  content: "\f08d"; }

.hentry {
  margin: 0 0 4.236em;
  padding-bottom: 3.631em;
  border-bottom: 6px solid rgba(0, 0, 0, 0.05); }
  .hentry .wp-post-image {
    margin-bottom: 1.618em; }
  .hentry .entry-header {
    border-bottom: 3px solid #787E87;
    margin-bottom: 3.631em; }
    .hentry .entry-header h1 {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-bottom: .618em;
      margin-bottom: 3px; }
    .hentry .entry-header .posted-on,
    .hentry .entry-header .byline {
      font-size: .857em; }
  .hentry .entry-meta a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .hentry .entry-meta a:hover {
      border-bottom-color: rgba(0, 0, 0, 0.2); }

.byline,
.updated:not(.published) {
  display: none; }

.single .byline, .group-blog .byline {
  display: inline; }

.page-links {
  clear: both;
  margin: 0 0 1.618em; }

.cat-links,
.tags-links,
.comments-link,
.edit-link {
  display: block;
  margin-bottom: 1em; }
  .cat-links:before,
  .tags-links:before,
  .comments-link:before,
  .edit-link:before {
    content: "\f114";
    font-family: "FontAwesome";
    margin-right: .53em;
    display: inline-block;
    width: 1em; }

.tags-links:before {
  content: "\f02b"; }

.comments-link:before {
  content: "\f0e5"; }

.edit-link:before {
  content: "\f040"; }

@media screen and (min-width: 768px) {
  .hentry.type-post:after {
    content: "";
    display: table;
    clear: both; }
  .hentry.type-post .entry-meta {
    width: 17.64706%;
    float: left;
    margin-right: 5.88235%;
    font-size: .857em; }
  .hentry.type-post .entry-content {
    width: 76.47059%;
    float: right;
    margin-right: 0; } }
/**
 * Post Formats
 */
.blog .format-aside .entry-title, .archive .format-aside .entry-title {
  display: none; }

/**
 * Media
 */
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  display: inline-block; }

/**
 * Captions
 */
.wp-caption {
  margin-bottom: 1.618em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 1.2% auto 0;
    max-width: 98%; }
  .wp-caption .wp-caption-text {
    text-align: left;
    font-style: italic;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding: 1em 0; }

/**
 * Galleries
 */
.gallery {
  margin-bottom: 1.618em; }
  .gallery .gallery-item {
    float: left; }
    .gallery .gallery-item .gallery-icon a {
      display: block; }
    .gallery .gallery-item .gallery-icon img {
      border: none;
      height: auto;
      margin-bottom: 0; }
    .gallery .gallery-item .gallery-caption {
      margin: 0;
      text-align: center; }

/* Fluid Gallery Columns
   works well if you remove the default gallery styling
   by adding the following to your functions.php
   add_filter( 'use_default_gallery_style', '__return_false' );
*/
.gallery-columns-2 .gallery-item {
  width: 49%;
  margin-right: 2; }

.gallery-columns-2 .gallery-item:nth-of-type(2n - 2) {
  margin-right: 0;
  clear: right; }

.gallery-columns-3 .gallery-item {
  width: 32%;
  margin-right: 2; }

.gallery-columns-3 .gallery-item:nth-of-type(3n - 3) {
  margin-right: 0;
  clear: right; }

.gallery-columns-4 .gallery-item {
  width: 23.5%;
  margin-right: 2; }

.gallery-columns-4 .gallery-item:nth-of-type(4n - 4) {
  margin-right: 0;
  clear: right; }

.gallery-columns-5 .gallery-item {
  width: 18.4%;
  margin-right: 2; }

.gallery-columns-5 .gallery-item:nth-of-type(5n - 5) {
  margin-right: 0;
  clear: right; }

.gallery-columns-6 .gallery-item {
  width: 15%;
  margin-right: 2; }

.gallery-columns-6 .gallery-item:nth-of-type(6n - 6) {
  margin-right: 0;
  clear: right; }

.gallery-columns-7 .gallery-item {
  width: 12.57143%;
  margin-right: 2; }

.gallery-columns-7 .gallery-item:nth-of-type(7n - 7) {
  margin-right: 0;
  clear: right; }

.gallery-columns-8 .gallery-item {
  width: 10.75%;
  margin-right: 2; }

.gallery-columns-8 .gallery-item:nth-of-type(8n - 8) {
  margin-right: 0;
  clear: right; }

.gallery-columns-9 .gallery-item {
  width: 9.33333%;
  margin-right: 2; }

.gallery-columns-9 .gallery-item:nth-of-type(9n - 9) {
  margin-right: 0;
  clear: right; }

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%; }

/**
 * Pagination
 */
.site-main [class*="navigation"] {
  margin: 0 0 1.618em;
  overflow: hidden; }
  .site-main [class*="navigation"] .nav-previous {
    float: left;
    width: 50%; }
  .site-main [class*="navigation"] .nav-next {
    float: right;
    text-align: right;
    width: 50%; }

/**
 * Pagination
 */
.avtozap-pagination,
.woocommerce-pagination {
  padding: 1em 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-width: 1px 0;
  text-align: center; }
  .avtozap-pagination .page-numbers,
  .woocommerce-pagination .page-numbers {
    list-style: none;
    margin: 0; }
    .avtozap-pagination .page-numbers:after,
    .woocommerce-pagination .page-numbers:after {
      content: "";
      display: table;
      clear: both; }
    .avtozap-pagination .page-numbers li,
    .woocommerce-pagination .page-numbers li {
      display: inline-block; }
      .avtozap-pagination .page-numbers li .page-numbers,
      .woocommerce-pagination .page-numbers li .page-numbers {
        border-left-width: 0;
        display: inline-block;
        padding: .327em .857em; }
        .avtozap-pagination .page-numbers li .page-numbers.current,
        .woocommerce-pagination .page-numbers li .page-numbers.current {
          font-weight: 700;
          background-color: rgba(0, 0, 0, 0.0125); }
        .avtozap-pagination .page-numbers li .page-numbers.dots,
        .woocommerce-pagination .page-numbers li .page-numbers.dots {
          background-color: transparent; }
        .avtozap-pagination .page-numbers li .page-numbers.prev, .avtozap-pagination .page-numbers li .page-numbers.next,
        .woocommerce-pagination .page-numbers li .page-numbers.prev,
        .woocommerce-pagination .page-numbers li .page-numbers.next {
          padding-left: 1.387em;
          padding-right: 1.387em; }
      .avtozap-pagination .page-numbers li a.page-numbers:hover,
      .woocommerce-pagination .page-numbers li a.page-numbers:hover {
        border-color: rgba(0, 0, 0, 0.1); }

/**
 * Comments
 */
#comments {
  padding-top: 2.618em; }
  #comments .comments-title {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    padding-bottom: .53em;
    margin-bottom: 1.618em; }
  #comments .comment-list {
    list-style: none;
    margin-left: 0; }
    #comments .comment-list .comment-body:after {
      content: "";
      display: table;
      clear: both; }
    #comments .comment-list .comment-content {
      padding-bottom: 1.618em;
      margin-bottom: 1.618em; }
    #comments .comment-list .comment-meta .avatar {
      margin-bottom: 1em;
      max-width: 32px;
      height: auto; }
    #comments .comment-list .comment-meta a.comment-date {
      opacity: 0.8;
      font-size: .857em; }
      #comments .comment-list .comment-meta a.comment-date:hover {
        color: #787E87; }
    #comments .comment-list .comment-meta cite {
      font-style: normal;
      clear: both;
      display: block; }
    #comments .comment-list .bypostauthor cite:after {
      font-family: "FontAwesome";
      font-weight: 400;
      margin-left: .53em;
      content: "\f097"; }
    #comments .comment-list .reply {
      font-size: .857em;
      margin-bottom: 1.618em; }
      #comments .comment-list .reply:after {
        content: "";
        display: table;
        clear: both; }
      #comments .comment-list .reply .comment-edit-link {
        border-left: 1px solid rgba(0, 0, 0, 0.1); }
      #comments .comment-list .reply a {
        color: #787E87;
        background-color: rgba(0, 0, 0, 0.025);
        padding: .53em 1em;
        float: left; }
        #comments .comment-list .reply a:hover {
          background-color: rgba(0, 0, 0, 0.05); }
    #comments .comment-list .children {
      list-style: none; }

.comment-content a {
  word-wrap: break-word; }

#respond {
  margin-bottom: 4.236em;
  clear: both;
  padding: 1.618em;
  background-color: rgba(0, 0, 0, 0.0125);
  border-top: 0.236em solid rgba(0, 0, 0, 0.025); }
  #respond .comment-form-author input,
  #respond .comment-form-email input,
  #respond .comment-form-url input {
    width: 100%; }
  #respond .form-submit,
  #respond form {
    margin-bottom: 0; }

@media screen and (min-width: 768px) {
  .comment-list:after {
    content: "";
    display: table;
    clear: both; }
  .comment-list .comment {
    clear: both; }
  .comment-list .comment-meta {
    width: 17.64706%;
    float: left;
    margin-right: 5.88235%; }
    .comment-list .comment-meta .avatar {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; }
  .comment-list .comment-content {
    padding-bottom: 3.631em;
    margin-bottom: 3.631em; }
  .comment-list .comment-content,
  .comment-list #respond {
    width: 76.47059%;
    float: right;
    margin-right: 0; }
  .comment-list #respond {
    float: right; }
    .comment-list #respond .comment-form-author,
    .comment-list #respond .comment-form-email,
    .comment-list #respond .comment-form-url {
      width: 100%;
      margin-right: 0; }
  .comment-list .reply {
    clear: both; }
  .comment-list ol.children {
    width: 88.23529%;
    float: right;
    margin-right: 0;
    list-style: none; }
    .comment-list ol.children .comment-meta {
      width: 20%;
      float: left;
      margin-right: 6.66667%; }
    .comment-list ol.children .comment-content,
    .comment-list ol.children #respond {
      width: 73.33333%;
      float: right;
      margin-right: 0; }
    .comment-list ol.children ol.children {
      width: 86.66667%;
      float: right;
      margin-right: 0; }
      .comment-list ol.children ol.children .comment-meta {
        width: 23.07692%;
        float: left;
        margin-right: 7.69231%; }
      .comment-list ol.children ol.children .comment-content,
      .comment-list ol.children ol.children #respond {
        width: 69.23077%;
        float: right;
        margin-right: 0; }
      .comment-list ol.children ol.children ol.children {
        width: 84.61538%;
        float: right;
        margin-right: 0; }
        .comment-list ol.children ol.children ol.children .comment-meta {
          width: 27.27273%;
          float: left;
          margin-right: 9.09091%; }
        .comment-list ol.children ol.children ol.children .comment-content,
        .comment-list ol.children ol.children ol.children #respond {
          width: 63.63636%;
          float: right;
          margin-right: 0; }
        .comment-list ol.children ol.children ol.children ol.children {
          width: 81.81818%;
          float: right;
          margin-right: 0; }
          .comment-list ol.children ol.children ol.children ol.children .comment-meta {
            width: 33.33333%;
            float: left;
            margin-right: 11.11111%; }
          .comment-list ol.children ol.children ol.children ol.children .comment-content,
          .comment-list ol.children ol.children ol.children ol.children #respond {
            width: 55.55556%;
            float: right;
            margin-right: 0; }

  #respond .comment-form-author,
  #respond .comment-form-email,
  #respond .comment-form-url {
    width: 29.41176%;
    float: left;
    margin-right: 5.88235%; }
  #respond .comment-form-url {
    float: right;
    margin-right: 0; }
  #respond .comment-form-comment {
    clear: both; } }
/**
 * Widgets
 */
.widget {
  margin: 0 0 3.631em; }
  .widget select {
    max-width: 100%; }
  .widget .widget-search .search-submit {
    display: none; }
  .widget h1 {
    font-size: 1em;
    letter-spacing: 0;
    border-bottom: 3px solid #787E87;
    padding: 0 0 1em;
    margin-bottom: 1em;
    font-weight: 700; }
  .widget ul {
    margin-left: 0;
    list-style: none; }
    .widget ul ul {
      margin-left: 1.618em; }

.widget-area .widget a.button {
  font-weight: 700 !important;
  color: #fff; }
  .widget-area .widget a.button:hover {
    color: #fff; }

.header-widget-region {
  margin-bottom: 4.236em; }
  .header-widget-region:after {
    content: "";
    display: table;
    clear: both; }
  .header-widget-region .widget {
    margin: 0;
    padding: 1em 0;
    font-size: .857em; }

.widget_search form,
.widget_product_search form {
  position: relative; }
  .widget_search form input[type=text],
  .widget_search form input[type=search],
  .widget_product_search form input[type=text],
  .widget_product_search form input[type=search] {
    width: 100%;
    padding-left: 2.618em; }
  .widget_search form input[type=submit],
  .widget_product_search form input[type=submit] {
    display: none; }
  .widget_search form:before,
  .widget_product_search form:before {
    content: "\f002";
    font-family: "FontAwesome";
    position: absolute;
    top: .618em;
    left: 1em;
    line-height: 1; }

.widget_recent_entries ul,
.widget_pages ul,
.widget_categories ul,
.widget_archive ul,
.widget_recent_comments ul,
.widget_nav_menu ul,
.widget_links ul {
  margin: 0; }
  .widget_recent_entries ul li,
  .widget_pages ul li,
  .widget_categories ul li,
  .widget_archive ul li,
  .widget_recent_comments ul li,
  .widget_nav_menu ul li,
  .widget_links ul li {
    list-style: none;
    margin-bottom: .618em; }
    .widget_recent_entries ul li:before,
    .widget_pages ul li:before,
    .widget_categories ul li:before,
    .widget_archive ul li:before,
    .widget_recent_comments ul li:before,
    .widget_nav_menu ul li:before,
    .widget_links ul li:before {
      font-family: "FontAwesome";
      margin-right: .53em;
      display: inline-block;
      opacity: 0.25; }
  .widget_recent_entries ul .sub-menu,
  .widget_pages ul .sub-menu,
  .widget_categories ul .sub-menu,
  .widget_archive ul .sub-menu,
  .widget_recent_comments ul .sub-menu,
  .widget_nav_menu ul .sub-menu,
  .widget_links ul .sub-menu {
    margin-top: .618em;
    margin-left: 1.618em; }

.widget-area #wp-calendar th,
.widget-area #wp-calendar td,
.footer-widgets #wp-calendar th,
.footer-widgets #wp-calendar td {
  padding: .236em;
  text-align: center; }

.widget_recent_entries ul li:before,
.widget_pages ul li:before {
  content: "\f0f6"; }
.widget_recent_entries ul ul.children,
.widget_pages ul ul.children {
  margin: .618em 0 0 1.387em; }

.widget_categories ul li:before {
  content: "\f114"; }
.widget_categories ul li.current-cat:before {
  content: "\f115"; }

.widget_archive ul li:before {
  content: "\f115"; }

.widget_recent_comments ul li:before {
  content: "\f0e5"; }

.widget_nav_menu ul li:before {
  content: "\f0f6"; }

.widget_links ul li:before {
  content: "\f08e"; }

.widget-area .widget {
  font-size: .857em; }
  .widget-area .widget h1.widget-title {
    font-size: 1.387em; }
  .widget-area .widget a {
    color: #787E87;
    font-weight: 400;
    opacity: 0.75; }
    .widget-area .widget a:hover {
      color: #a46497;
      opacity: 1; }
    .widget-area .widget a.button {
      opacity: 1; }

/**
 * Infinite Scroll
 */
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
  display: block; }
